<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enfedaque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/live_streaming"
        android:label="@string/app_name"
        android:roundIcon="@drawable/live_streaming"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTV"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.verFavoritos"
            android:exported="false" />
        <activity
            android:name=".Activities.Mapa"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLBgnBFBMy3SmyEmGUFF-RIt8UE9PAwpo" />

        <activity
            android:name=".Activities.videos"
            android:exported="false" />
        <activity
            android:name=".Activities.index"
            android:exported="false" />
        <activity
            android:name=".Activities.registrarse"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>